body{
    background-image: url(https://media.istockphoto.com/id/459159997/photo/abstract-blue-background-water-with-sunbeams.webp?b=1&s=170667a&w=0&k=20&c=a4PfUpSk-hYm7yEiSA_FVwOkIi-lylekmYj1Kq4ukaY=);
   background-size: cover;
}

li{
    font-weight: bolder;
}